::placeholder {
	color: #666;
}

::selection {
	background-color: $c-accent;
	color: white;
}

body {
	background-color: white;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1;
	font-family: $f-d;
	overflow-x: hidden;
	height: 500px;
	color: $c-text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

i {
	font-family: $f-d-i;
}

